<% layout('layouts/boilerplate') %> 
    <link rel = "stylesheet" href = "../../styles/about.css"/>
    <div class="container-fluid pt-3  ">
      <div class="about-title display-1" >About Us</div>
      <hr />
      <div class="about-description col-lg-12 ">
        <p class="h3 ">
          WhatTheFridge.com features the largest collection of
          professionally-tested recipes online from food experts at the magazines
          and cookbooks you love and trust--including Cooking Light, Southern
          Living, Sunset, Coastal Living, Real Simple, and more.
        </p>
    
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div id="LL-title" class="h1">
            Find the food you need
          </div>
          <div id="LL-desc" class="h3">
            Easily refine your search with any of nearly 150 recipe categories.
            The site delivers every type of recipe you could want, from
            authentic cuisines to great-tasting healthy
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div id="LR-title" class="h1">
            Save your favourite recipes
          </div>
          <div id="LR-desc" class="h3">
            Save your favorite recipes. Build and email your shopping lists.
            Create and pass around menus for upcoming get-togethers. Rate the
            recipes and discover new must-try dishes from thousands of reviews
            from fellow cooks.
          </div>
        </div>
      </div>
    </div>
