<% layout('layouts/boilerplate') %> 
<link rel="stylesheet" href="../../styles/home.css" />
<div class="container-fluid">
  <div class="home-container">
    <form class="forms">
      <div class="home-title h1">What the Fridge!</div>
      <div class="form-group">
        <input class="form-control" id="ingredient" placeholder="Enter ingredients here" />
        <button id="ingredient-button" type="button"><i class="fa-solid fa-plus text-dark"></i></button>
      </div>
      <li id="ingredient-group"></li>
      <div class="search-btn">
        <button type="button" class="home-button" ><a >Search</a></button>
      </div>

    </form>
    <!-- <a href="/recipes">All Recipes</a> -->
  </div>
</div>
  </div>
  
  <script src="../public/js/home.js"></script>
<!-- 
onclick="location.href='/result';" -->

<!-- href="/recipes?ingredients='unsalted butter,nutmeg'" -->