<% layout('layouts/boilerplate') %> 
<div class="container">
    <div class="home-container">
        <form class="forms">
          <div class="home-title" style="font-size: 40px">What the Fridge!</div>
          <div class="form-group">
            <input
              class="form-control"
              id="ingredient"
              placeholder="Enter ingredients here"
            />
            <button id="ingredient-button">+</button>
          </div>
          <li id="ingredient-group"></li>
          <div class="btn">
            <button type="button" class="home-button">Search Recipe</button>
          </div>

        </form>
        <a href="/recipes">All Recipes</a>
      </div>
    </div>
  </div>