main.container {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: none;
}

body::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #333; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #666; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid #333; /* creates padding around scroll thumb */
}

body {
  position: relative;

  background: url(../img/bg-result.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  min-width: 100%;
  min-height: 100%;
}
hr {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  opacity: 1;
}
.recipe-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: auto;
}
.card {
  width: 100%;
  border-radius: 10px;
}
#body-picture {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;

  margin-top: 1rem;

  padding: 0;

  min-height: 350px;
  border-radius: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: local;
}
#body-description {
  margin-top: 1rem;
}
.group {
  margin-top: 2rem;
}
.title {
  display: none;
}

.form-group {
  display: flex;
  flex-direction: row;
}
.form-group input {
  width: 300px;
  border-radius: 5px;
  margin-top: 5px;
}
#comment-button {
  width: 90px;
  min-width: 35px;
  height: 35px;

  margin-top: 4px;
  margin-left: 10px;

  color: white;
  background-color: #444;

  border: none;
  border-radius: 10px;
}

#favorite1 {
  font-size: 20px;
}
#rating1 {
  font-size: 20px;
}
#favorite2 {
  font-size: 20px;
}
#rating2 {
  font-size: 20px;
}

.comment {
  width: 100%;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 0.5rem;
  margin-bottom: 1rem;
}
.reply {
  width: 90%;
  margin-left: auto;
  margin-right: none;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 0.5rem;
  margin-bottom: 1rem;
}
.profile-pic {
  width: 70px;
  height: 70px;
  border-radius: 35px;
  margin-right: 1rem;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .recipe-container {
    width: 100%;
    margin: none;
  }
  .card {
    display: none;
  }
  .title {
    display: block;
  }

  #body-picture {
    max-height: none;
    margin-top: 0;
    border-radius: 0;
    background-size: auto 100%;
    background-position: left -200px top;
    background-attachment: fixed;

    padding: 2rem;
  }
  #body-description {
    padding: 2rem;
    min-height: 100vh;
    margin-top: 0;
  }
}
