<% layout('layouts/boilerplate')%>
<link rel="stylesheet" href="../../styles/signin.css" />
<div class="container-fluid">
  <div class="login-container">
    <div class="login-items">
      <h1 class="login-title">Sign In</h1>
      <form action="/signin" method="POST" novalidate class="validated-form">
            <div class="mb-4">
                <label class="form-label" for="username">Username</label>
                <input
                class="form-control"
                type="text"
                id="username"
                name="username"
                placeholder="Username"
                required
                />
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-4">
                <label class="form-label" for="password">Password</label>
                <input
                class="form-control"
                type="password"
                id="password"
                name="password"
                placeholder="Password"
                required
                />
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3">
                <button class="btn btn-success" id="login-button">Sign In</button>
            </div>

            <div class="sign-up mt-4" style="font-size: 22px">
                New user? <a href="/signup" style="color: orange">Sign Up</a>
            </div>
    </div>
  </div>
</div>
</form>
