<% layout('layouts/boilerplate')%>
<link rel="stylesheet" href="../../styles/signup.css" />
<link rel="stylesheet" href="../../styles/signin.css" />
<div class="container-fluid">
    <div class="signup-container">
      <div class="login-items">
        <h1 class="login-title">Sign Up</h1>
        <form action="/signup" method="POST" novalidate class="validated-form">
            <div class="camera-icon">
                <img
                  id="profile-pic"
                  class="new-profile-pic"
                  src="../img/profile.png"
                  alt=""
                />
              </div>
            <div class="mb-3">
                <label class="form-label" for="username">Username</label>
                <input class="form-control" type="text" id="username" name="username" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="password">Password</label>
                <input class="form-control" type="password" id="password" name="password" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="confirmPassword">Confirm Password</label>
                <input class="form-control" type="password" id="confirmPassword" name="confirmPassword" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <button class="btn btn-success" id="login-button">Sign Up</button>
            </div>
            <div class="sign-up mt-4" style="font-size: 22px">
                Already have an account? <a href="/signin" style="color: orange">Sign In</a>
            </div>
        </div>
    </div>
    <i
    class="fa-solid fa-plus"
    id="add-icon"
    accept="image/png, image/gif, image/jpeg"
  ></i>

<div id="form-group-image">
    <button
    type="button"
    id="change-pic"
    onchange="loadFile(event)"
    class="btn btn-primary"
    data-bs-toggle="modal"
    data-bs-target="#exampleModal"
    title="Change Profile Pic"
  >
  </button>
</div>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-dark" id="exampleModalLabel">Your Rating</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>
</form>