<% layout('layouts/boilerplate')%>
<link rel="stylesheet" href="../../styles/home.css" />

<div class="row text-white d-flex justify-content-center mt-8">
  <h1 class="text-center" style="font-family: 'Satisfy'">New Recipe</h1>
  <div class="col-6">
    <form action="/recipes" method="POST" onsubmit="submitForm()">
      <div class="mb-3">
        <label class="form-label" for="name">Title</label>
        <input
          class="form-control"
          type="text"
          id="name"
          name="recipe[name]"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="image">Image Url</label>
        <input
          class="form-control"
          type="text"
          id="image"
          name="recipe[image]"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="ingredients">Ingredients</label>
        <div class="form-group">
          <input
            class="form-control"
            id="ingredient"
            placeholder="Enter ingredients here"
            name="recipe[ingredients]"
            required
          />
          <button id="ingredient-button" type="button">
            <i class="fa-solid fa-plus text-dark"></i>
          </button>
        </div>
        <li id="ingredient-group"></li>
      </div>

      <div class="mb-3">
        <label class="form-label" for="directions">Directions</label>
        <div class="form-group">
          <input
            type="text"
            class="form-control disabled"
            placeholder="Enter atleast 2 steps..."
            autocomplete="off"
            readonly
          />

          <button id="addRow" type="button">
            <i class="fa-solid fa-plus text-dark"></i>
          </button>
        </div>
        <div id="newRow">
          <div class="inputFormRow">
            <div class="form-group mt-3">
              <span
                class="input-group-text text-muted mr-2 h6"
                style="
                  height: 32px;
                  margin-top: 6.5px;
                  margin-right: 10px;
                  padding: 2px;
                  border-radius: 5px;
                "
                >Step:</span
              >

              <input
                type="text"
                name="recipe[directions]"
                class="form-control m-input"
                placeholder="Enter step"
                autocomplete="off"
                style="height: 35px; width: 440px"
                required
              />

              <!-- <button class="text-white btn-danger removeRow " type="button"><i
                                    class="fa-solid fa-minus text-dark"></i></button> -->
            </div>
          </div>
          <div class="inputFormRow">
            <div class="form-group mt-3">
              <span
                class="input-group-text text-muted mr-2 h6"
                style="
                  height: 32px;
                  margin-top: 6.5px;
                  margin-right: 10px;
                  padding: 2px;
                  border-radius: 5px;
                "
                >Step:</span
              >

              <input
                type="text"
                name="recipe[directions]"
                class="form-control m-input"
                placeholder="Enter step"
                autocomplete="off"
                style="height: 35px; width: 440px"
                required
              />

              <!-- <button class="text-white btn-danger removeRow " type="button"><i
                                        class="fa-solid fa-minus text-dark"></i></button> -->
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3 text-center">
        <button class="btn" style="background-color: orange; color: white">
          Add recipe
        </button>
      </div>
    </form>
  </div>
</div>

<script type="text/javascript">
  // add row
  $("#addRow").click(function () {
    var html = "";
    html += `<div class="inputFormRow">
            <div class="form-group mt-3">
           
                <span class="input-group-text text-muted mr-2 h6 "
    style="height: 32px; margin-top:6.5px;margin-right:10px;padding:2px;border-radius:5px">Step 1</span>
            
               
               <input type="text" name="recipe[directions]" class="form-control m-input" placeholder="Enter step" autocomplete="off" style="height:35px; width:440px" required >
                
                
             
            
               <button class="text-white btn-danger removeRow "  type="button"><i class="fa-solid fa-minus text-dark"></i></button>
             
              </div>
              `;

    $("#newRow").append(html);
  });

  // remove row
  $(document).on("click", ".removeRow", function () {
    $(this).closest(".inputFormRow").remove();
  });
</script>
<script src="../../public/js/home.js"></script>

<!-- 
references
https://getbootstrap.com/docs/4.0/components/buttons/
https://shouts.dev/articles/add-or-remove-input-fields-dynamically-using-jquery -->
