<% layout('layouts/boilerplate')%>
<link rel="stylesheet" href="../../styles/home.css" />

<div class="row text-white">
    <h1 class="text-center">New recipe</h1>
    <div class="col-6 offset-3">
        <form action="/recipes" method="POST"  novalidate class="validated-form" onsubmit="submitForm()">
            <div class="mb-3">
                <label class="form-label" for="name">title</label>
                <input class="form-control" type="text" id="name" name="recipe[name]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="image">Image Url</label>
                <input class="form-control" type="text" id="image" name="recipe[image]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="ingredients">ingredients</label>
                <div class="form-group">
                    <input class="form-control" id="ingredient" placeholder="Enter ingredients here"  name="recipe[ingredients]" />
                    <button id="ingredient-button" type="button"><i class="fa-solid fa-plus text-dark"></i></button>
                </div>
                <li id="ingredient-group"></li>
            </div>
            

            <div class="mb-3">
                <label class="form-label" for="descriptions">Directions</label>
                <textarea class="form-control" type="text" id="descriptions" name="recipe[descriptions]"
                    required></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3 text-center">
                <button type="submit" class="btn btn-success" >Add recipe</button>
            </div>
        </form>
        <a href="/recipes">All recipes</a>
    </div>
</div>
<script src="../../public/js/home.js"></script>