<% layout('layouts/boilerplate')%>
<style>
    body {
    position: relative;

    background: url(../img/bg-home.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-width: 100%;
    min-height: 100%;
   
</style>
<div class="row text-white">
    <h1 class="text-center">New recipe</h1>
    <div class="col-6 offset-3">
        <form action="/recipes" method="POST" novalidate class="validated-form">
            <div class="mb-3">
                <label class="form-label" for="name">title</label>
                <input class="form-control" type="text" id="name" name="recipe[name]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="image">Image Url</label>
                <input class="form-control" type="text" id="image" name="recipe[image]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="ingredients">ingredients</label>
                <input class="form-control" id="ingredients" placeholder="Enter ingredients here" name="recipe[ingredients]" required />
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            

            <div class="mb-3">
                <label class="form-label" for="descriptions">Directions</label>
                <textarea class="form-control" type="text" id="descriptions" name="recipe[descriptions]"
                    required></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3 text-center">
                <button class="btn btn-success">Add recipe</button>
            </div>
        </form>
        <a href="/recipes">All recipes</a>
    </div>
</div>