<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show One recipe</title>
</head>
<body>
    <h1>This page is for showing one recipe</h1>
    <ul>
        <% for(let recipe of recipes){%>
        <li><a href=""><%=recipe.id %></a></li>
        <%}%>
    </ul>
</body>
</html>